.gradle
.idea/
/build/
build/
cdk.out/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

.idea

# terraform stuff
oci-infra/src/main/terraform/.terraform.lock.hcl
oci-infra/src/main/terraform/.terraform/
oci-infra/src/main/terraform/terraform.tfstate
oci-infra/src/main/terraform/terraform.tfstate.backup

